

<h3>Create Customer</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstname" required [(ngModel)]="customer.firstname" name="firstname">
    </div>
<br><br>
    <div class="form-group">
      <label for="name">Last N ame</label>
      <input type="text" class="form-control" id="lastname" required [(ngModel)]="customer.lastname" name="lastname">
    </div>
    <br><br>
    <div class="form-group">
      <label for="name">Mail</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="customer.email" name="emai">
    </div>
    
    <br><br>

    <button type="submit" class="btn btn-success">Insert</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4> submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newCustomer()">Add</button> -->
</div>
